---
import BaseLayout from "@layouts/BaseLayout.astro";
import ArticleCard from "@components/ArticleCard.astro";
import Pagination from "@components/Pagination.astro";
import { sortDateDescending } from "../../misc";
import type { Page } from "astro";
import config from "src/config";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"posts">>;
}

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("posts");
  const posts = sortDateDescending(
    allPosts.filter((post) => post.data.draft !== true)
  );
  return paginate(posts, { pageSize: config.pageSize ?? 5 });
}

const { page } = Astro.props as Props;
---

<BaseLayout title="Articles" activeLink="articles">
  <section class="max-w-6xl mx-auto mb-32 mt-4 px-4">
    {
      page.currentPage == 1 ? (
        <h1 class="text-center mb-8 text-4xl font-bold">
All Articles
        </h1>
      ) : null
    }

    <div class="flex flex-col justify-center gap-8">
      {page.data.map((post) => <ArticleCard content={post} />)}
    </div>
    <div class="flex justify-center mt-8">
      <Pagination page={page} dir={"articles"} />
    </div>
  </section>
</BaseLayout>
