---
import Search from "@components/Search.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Explore" activeLink="explore">
  <div class="max-w-3xl mx-auto px-4 mb-32 mt-8">
    <h1 class="text-center text-4xl font-bold mb-10">
      Explore Articles
    </h1>

    <Search />
  </div>
</BaseLayout>

