---
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { sortDateDescending } from "src/misc";

const allPosts = await getCollection('posts');

const posts = sortDateDescending(allPosts.filter((post) => post.data.draft != true)).slice(0, 3);
---

<BaseLayout title="Home" activeLink="home">

	<section class="max-w-6xl mx-auto mb-32 mt-4 px-4">
		<h1 class="text-center mb-6 text-4xl font-bold">
			Featured Articles
		</h1>

		<div class="flex flex-col justify-center gap-8">
			{posts.map(post =>
			<ArticleCard content={post} />)}

			<a href="/articles/" class="btn btn-primary btn-lg mx-auto mt-4 shadow-lg hover:shadow-xl transition-shadow duration-200">
				<span>View All Articles</span>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
				</svg>
			</a>
		</div>

	</section>
</BaseLayout>