---
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import config from "src/config";
import { Frontmatter, sortDateDescending, capitalizeString } from "src/misc";

const allPosts = await Astro.glob<Frontmatter>('../posts/*.md');
const posts = sortDateDescending(allPosts.filter((post) => post.frontmatter.draft != true && post.frontmatter.tags.includes('Featured'))).slice(0, 3);
const { metaData: { authorName }, social } = config;
const baseSite = import.meta.env.BASE_URL
---

<BaseLayout title="Home" activeLink="home">

	<section class="flex flex-col sm:flex-row justify-center max-w-[90%] w-[52rem] mx-auto gap-12 mb-24">
		<img class="w-64 h-64 object-cover object-left rounded-full" src={"/images/profile.jpg"} alt="avatar"
			class="rounded-md h-fit self-center justify-self-center scale-125">
		<div class="flex flex-col flex-wrap flex-grow">
			<h1
				class="mx-auto text-center mb-8 text-4xl font-semibold w-fit">
				Hi there, I'm <span class="font-bold">{authorName}.</span></h1>
			<p class="text-center">
				<span>I write about software and life. I hope you find my posts relevant.</span>
				<span>Check out 
					<a
					class="text-cyan-600 hover:text-black dark:hover:text-white"
					href="/topics/what-im-consuming/">what I'm consuming</a>.
				  </span>

				</p>
			<div class="flex flex-wrap justify-center gap-5 mt-4">
				{social.map(ele => <a class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center" href={ele.link}
					target="_blank" rel="noreferrer noopener">
					<span class="sr-only">{`Link to my ${ele.sr?? capitalizeString(ele.link.replace(/.+\/\/|www.|\..+/g, ''))} account`}</span>
					<Fragment set:html={ele.svg} />
				</a> )}
			</div>
		</div>
	</section>
		
	<section>
		<h2
			class="mx-auto text-center mb-8 text-4xl font-semibold w-fit">
			Featured Articles
		</h2>

		<div class="flex flex-wrap flex-col justify-center gap-12">
			{posts.map(post =>
			<ArticleCard content={post} />)}

			<a href="/articles/" class="no-underline text-cyan-600 hover:text-black dark:hover:text-white">
				<span class="flex flex-wrap flex-col justify-center gap-12 card-title">View All Articles</span>
			</a>
		</div>

	</section>
</BaseLayout>