---
import { CollectionEntry } from 'astro:content';
import { fileToSlug } from 'src/misc';

export interface Props {
  prevPost: CollectionEntry<"posts">;
  nextPost: CollectionEntry<"posts">;
}

const { prevPost, nextPost } = Astro.props as Props;

const prevUrl = prevPost.data
  ? `/articles/${fileToSlug(prevPost.filePath ?? "", "md")}`
  : "";
const nextUrl = nextPost.data
  ? `/articles/${fileToSlug(nextPost.filePath ?? "", "md")}`
  : "";
---

<!-- https://route360.dev/en/post/astro-prevnext-posts/ -->
<div
class="flex max-w-7xl mx-auto md:px-8 px-5 gap-12 items-start prose md:prose-lg 2xl:prose-xl mx-auto prose-pre:font-mono"
>
{
  prevPost.data && (
    <a
      class="no-underline text-cyan-600 hover:text-black dark:hover:text-white"
      href={prevUrl}
    >
      {`<< ${prevPost.data.title}`}
    </a>
  )
}
{
  nextPost.data && (
    <a
      class="no-underline text-cyan-600 hover:text-black dark:hover:text-white"
      href={nextUrl}
    >
      {`${nextPost.data.title} >>`}
    </a>
  )
}
</div>