---
const { heading } = Astro.props;
---

<li>
    <div class="mb-3">
        <a class="mb-1 no-underline text-cyan-600 hover:text-black dark:hover:text-white" href={"#" + heading.slug}>
            {heading.text}
        </a>
        {
            heading.subheadings && heading.subheadings.length > 0 && (
                <ul class="list-none">
                    {heading.subheadings.map((subheading) => (
                        <Astro.self heading={subheading} />
                    ))}
                </ul>
            )
        }
    </div>
</li>
